/* css styling for new homepage template - Oct 2019
 */
 .page-template-page-EAhome {
   background-color: #f3f3f3;
   .site-wrapper {
     border: 1px solid #e1e1e1;
   }
 }

.eai-content-row {
  margin-bottom: 20px;
}
 article {
  .eaihome-post-cat {
    background-color: #e1e1e1;
    padding: 5px 7px;
    a {
      color: $fontcolor;
      letter-spacing: 1px;
    }
  }
  .eaihome-img {
    width: 100%;
  }
}
